<div class="grid-container" style="overflow-y:scroll;">
  <div class="item-block">
    <img class="item-image" src="../assets/product-placeholder-image.jpeg" alt="Item 1">
    <h2 class="item-name">Item 1</h2>
    <p class="item-price">$10.99</p>
    <button>Remove From Cart</button>
  </div>
  <div class="item-block">
    <img class="item-image" src="../assets/product-placeholder-image.jpeg" alt="Item 2">
    <h2 class="item-name">Item 2</h2>
    <p class="item-price">$12.99</p>
    <button>Remove From Cart</button>
  </div>
  <div class="item-block">
    <img class="item-image" src="../assets/product-placeholder-image.jpeg" alt="Item 3">
    <h2 class="item-name">Item 3</h2>
    <p class="item-price">$15.99</p>
    <button>Remove From Cart</button>
  </div>
  <div class="item-block">
    <img class="item-image" src="../assets/product-placeholder-image.jpeg" alt="Item 4">
    <h2 class="item-name">Item 4</h2>
    <p class="item-price">$8.99</p>
    <button>Remove From Cart</button>
  </div>
  <div class="item-block">
    <img class="item-image" src="../assets/product-placeholder-image.jpeg" alt="Item 5">
    <h2 class="item-name">Item 5</h2>
    <p class="item-price">$9.99</p>
    <button>Remove From Cart</button>
  </div>
</div>
<button class="confirm-order">Confirm Order</button>

